<!-- chat/templates/chat/index.html -->
{% extends 'registration/base.html' %}

{% block content %}
    {% if user.is_authenticated %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    What chat room would you like to enter?<br/>

    <a href="{% url 'chat:room' 'lobby' %}">lobby</a> /
    <a href="{% url 'chat:room' 'room1' %}">room1</a> /
    <a href="{% url 'chat:room' 'room2' %}">room2</a> /

</body>
</html>
    {% else %}
        <strong>Welcome to DjangoChat. Please login or register.</strong>
    {% endif %}
{% endblock %}