{# Load Bootstrap4 #}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}DjangoChat{% endblock %}</title >
  </head>
  <body>
    <header>
      <h1 class="text-primary">DjangoChat</h1>
      {% if user.is_authenticated %}
        <h5>Welcome {{ user }}!</h5>

        <button type="button" onclick="window.location.href='{% url 'chat:index' %}'" class="btn btn-info">Home</button>
        <button type="button" onclick="window.location.href='{% url 'chat:profile' %}'" class="btn btn-info">Profile</button>
        <button type="button" onclick="window.location.href='{% url 'chat:logout' %}'" class="btn btn-info">Logout</button>
      {% else %}
        <button type="button" onclick="window.location.href='{% url 'chat:login' %}'" class="btn btn-info">Login</button>
        <button type="button" onclick="window.location.href='{% url 'chat:register' %}'" class="btn btn-info">Signup</button>
      {% endif %}
      <hr>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>